<div class="panel panel-default">
    <!-- Panel Header -->
    <div class="panel-heading">
      <!-- Row 1: Name of the Contact -->
      <div class="row">
        <div class="col-xs-12">
          <h3 style="margin: 0;">{{ contact.name }}</h3>
        </div>
      </div>
      <!-- Row 2: Image and Buttons -->
      <div class="row">
        <div class="col-xs-2">
          <img [src]="contact.imageUrl" alt="{{ contact.name }}" class="img-responsive" style="max-height: 50px;">
        </div>
        <div class="col-xs-10 text-right">
          <a href="#" class="btn btn-primary" style="margin-right: 5px;">Edit</a>
          <a href="#" class="btn btn-danger">Delete</a>
        </div>
      </div>
    </div>
    
    <!-- Panel Body -->
    <div class="panel-body">
      <!-- Display email and phone -->
      <p><span style="font-weight: bold;">Phone: </span>{{ contact.phone }}</p>
      <p><span style="font-weight: bold;">Email: </span>{{ contact.email }}</p>
    </div>
  </div>
  