
.required.ng-invalid {
    border: 1px solid red;
  }
  
  .invalid.ng-invalid.ng-dirty {
    border: 1px solid red;
  }
  
  .pad-left-right{
    padding-left:.1rem;
  }
  
  .deleteButton {
    margin-top: 1.5rem;
    margin-left: -1.2rem;
    width: 3.4rem;
  }
  
  .buttonDiv {
    margin-top: 1.5rem;
  }
  
  .groupDiv {
    min-height: 6rem;
    border: solid thin lightgrey;
  }
  
  .dragMsg {
    font-size: 2rem;
    color: darkgrey;
    margin-left: 3rem;
  }

  .group-list-container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  min-height: 3rem;
  padding: 0.5rem;
  border: 1px dashed #ccc;
  background-color: #f9f9f9;
  border-radius: 5px;
}

.group-item {
  display: flex;
  align-items: center;
  gap: .3rem;
  padding: 0.3rem;
  border: 1px solid #ddd;
  border-radius: 3px;
  background-color: #ffffff;
}

.contact-image {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
}

.contact-name {
  flex-grow: 1;
  font-size: 1rem;
}

@media (max-width: 768px) {
  .group-item {
    flex-direction: row;
  }

  .contact-name {
    font-size: 0.8rem;
  }


}

  